:root {
    --site-background-color: #FFF7E8;
    --background-color: #FDF0D5;
    --bright-contrast: #C1121F;
    --dark-contrast: #780000;
    --secondary-background: #003049;
    --tertiary-background: #669BBC;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--site-background-color);
    color: var(--secondary-background);
    font-family: Lato, Arial, sans-serif;
}

nav {
    text-align: center;
    padding: 10px;
    background-color: var(--background-color);
    border-bottom: 10px solid var(--secondary-background);
    position: sticky;
    top: 0px;
}

h1 {
    font-size: 68px;
    margin: 6px;
}

h2 {
    font-size: 42px;
    padding: 20px;
}

h3 {
    font-size: 26px;
    margin: 6px;
    padding: 16px;
}

h4 {
    font-size: 16px;
    font-family: Lato, Arial, sans-serif;
    padding: 26px;
}

p {
    font-family: Merriweather, serif;
    font-size: 16px;
    margin: 6px;
    padding: 16px;
    line-height: 26px;
}

pre {
    white-space: pre-wrap;
}

code {
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    text-align: left;
    display: block;
    background-color: black;
    color: greenyellow;
    padding: 20px;
    overflow: auto;
    margin: 10px;
    z-index: -1;
}

#colors {
    text-align: center;
}

.color {
    padding: 80px;
    color: var(--background-color);
}

#fonts {
    text-align: center;
}

.fontbox {
    display: block;
    margin: 10px auto;
    text-align: center;
    max-width: 1200px;
}

.font-sub-box {
    display: inline-block;
    width: 500px;
    height: 300px;
    text-align: left;
    border: 5px solid black;
    margin: 10px;
}

.invisible {
    opacity: 0;
}

#demo-code code {
    position: relative;
    bottom: 75px;
}

#font-1, #font-1 p, #font-1 h4 {
    font-family: Lato;
}

#font-2, #font-2 h4 {
    font-family: Merriweather;
}

#font-3 {
    font-family: Fira Code;
}

#font-3 h4, #font-3 p {
    font-family: Fira Code;
    font-size: 15px;
    position: relative;
    bottom: 11px;
}

#background {
    background-color: var(--background-color);
    color: var(--bright-contrast)
}

#bright-contrast {
    background-color: var(--bright-contrast);
}

#dark-contrast {
    background-color: var(--dark-contrast);
}

#secondary-background {
    background-color: var(--secondary-background);
}

#tertiary-background {
    background-color: var(--tertiary-background);
}

footer {
    text-align: right;
    margin-top: 100px
}