:root {
    --site-background-color: #FFF7E8;
    --background-color: #FDF0D5;
    --bright-contrast: #c1121ea2;
    --dark-contrast: #780000;
    --secondary-background: #002f49;
    --tertiary-background: #669bbc5f;
    --scroll-margin: 200px;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--site-background-color);
    color: var(--secondary-background);
    font-family: Lato, Arial, sans-serif;
}

nav {
    text-align: center;
    padding: 10px;
    background-color: var(--background-color);
    border-bottom: 10px solid var(--secondary-background);
    position: sticky;
    top: 0px;
    z-index: 1;
    max-height: 400px;
}

nav ul {
    list-style-type: none;
    padding: 2px;
    margin: 0px;
    line-height: 5px;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    font-size: 165%;
    padding: 2px;
    margin: 3px;
}

h1 {
    font-size: 68px;
    margin: 6px;
}

h2 {
    font-size: 42px;
    padding: 20px;
    background-color: var(--tertiary-background);
    border-top: 5px solid black;
}

h3 {
    font-size: 26px;
    padding: 16px;
}

h4 {
    font-size: 16px;
    font-family: Lato, Arial, sans-serif;
    padding: 26px;
}

p, li, ul {
    font-family: Merriweather, serif;
    font-size: 16px;
    margin: 6px;
    padding: 16px;
    line-height: 26px;
}

pre {
    white-space: pre-wrap;
    z-index: -1;
}

code {
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    text-align: left;
    display: block;
    background-color: black;
    color: greenyellow;
    padding: 20px;
    overflow: auto;
    margin: 10px;
    z-index: -1;
}

a {
    color: inherit;
}

a:hover {
    color: var(--bright-contrast)
}

a:visited {
    color: inherit;
}

a:active {
    opacity: 0.7;
}

#colors {
    text-align: center;
    scroll-margin-top: var(--scroll-margin);
}

.color {
    padding: 80px;
    color: var(--background-color);
}

#fonts {
    text-align: center;
    scroll-margin-top: var(--scroll-margin);
}

.fontbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px auto;
    text-align: center;
    max-width: 1200px;
}

.font-sub-box {
    display: block;
    flex-grow: 1;
    width: 500px;
    height: 300px;
    text-align: left;
    border: 5px double black;
    margin: 10px;
}

.font-style-box ul {
    list-style-type: circle;
    list-style-position: inside;
}

.underlined {
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

#font-1, #font-1 p, #font-1 h4, #font-1 h2 {
    font-family: Lato;
    border-top: none;
    background-color: var(--site-background-color);
}

#font-2, #font-2 h4, #font-2 h2 {
    font-family: Merriweather;
    background-color: var(--site-background-color);
    border-top: none;
}

#font-3, #font-3 h2 {
    font-family: Fira Code;
    background-color: var(--site-background-color);
    border-top: none;
}

#font-3 h4, #font-3 p {
    font-family: Fira Code;
    font-size: 15px;
    position: relative;
    bottom: 11px;
}

#text-styles {
    text-align: center;
    scroll-margin-top: var(--scroll-margin);
}

#style-rules {
    text-align: center;
    scroll-margin-top: var(--scroll-margin);
    list-style-position: inside;
}

#background {
    background-color: var(--background-color);
    color: var(--bright-contrast)
}

#bright-contrast {
    background-color: var(--bright-contrast);
}

#dark-contrast {
    background-color: var(--dark-contrast);
}

#secondary-background {
    background-color: var(--secondary-background);
}

#tertiary-background {
    background-color: var(--tertiary-background);
}

footer {
    text-align: right;
    margin-top: 100px
}